
@import  url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap'); 

header{
    min-width: 120px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid;
    border-color: #650d88;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}


.logo{
    height: 100px;
    border-radius: 5px;
}


.lista-botones{
   list-style-type: none;
   display: flex;
   flex-wrap: wrap;
   padding: 3px;
   gap: 5px;
   align-content: space-around;
   align-items: center;
}


.boton-nav{
    background-color:#e78300b0;
    height: 15px;
    border: 1px solid;
    border-radius: 5px;
    border-color: #650d88;
    display: flex;
    align-content: center;
    align-items: center;
    padding: 5px;
}

.boton-nav p{
    font-family: Audiowide;
    font-size: 9px;
    color: #650d88;
    font-weight:500;
}